body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#content {
  width: 620px;
  margin: auto;
}

#ingredient-search {
  width:300px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.ingredient-select, .ingredient-deselect {
  cursor: pointer;
  margin-right: 3px;
  float: left;
}

#recipe-form {
  width: 300px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

input[type=text] {
  margin: 5px;
  margin-left: 0;
  padding: 5px;
}

.ingredient-selected {
  display: block;
}

#submit-button {
  margin-top: 10px;
}
